/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/partners
/public/news
public/sliders
public/visions
public/texts
public/uploads
public/places
public/events
public/documents
public/membership
public/projects
public/galleries
public/about
worker.log
